In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("../data/job.csv")
df = pd.DataFrame(data)
df

,title,required-experience,technologies,salary,english-level,domain
0,Senior Python Developer,5 years of experience,NaN,NaN,Intermediate,Gambling
1,Python Django Developer,3 years of experience,"Django/Flask/Aiohttp/FastApi,AWS",from 3500,Intermediate,E-commerce
2,Fullstack developer (React+Python),3 years of experience,NaN,1000-2500,Upper-Intermediate,NaN
3,Python (asterisk),2 years of experience,NaN,NaN,Intermediate,NaN
4,Team Lead Python Software Engineer (Machine Le...,5 years of experience,"Python,Django,FastAPI,Team leading",NaN,Upper-Intermediate,Fintech
...,...,...,...,...,...,...
142,Strong Middle/Senior Python Engineer,5 years of experience,"Python,Python / Django,Python3,PostgreSQL,Djan...",3000-4500,Upper-Intermediate,Travel
143,FullStack Python Tech Lead,5 years of experience,NaN,NaN,Upper-Intermediate,NaN
144,Python developer,3 years of experience,"Python,Python3,API,Redis/RabbitMQ,Apache Kafka",1000-2500,NaN,Hardware
145,Python Engineer,5 years of experience,"Python,SQL,databases",4000-5500,Upper-Intermediate,SaaS
146,Machine Learning Engineer,2 years of experience,NaN,to 3500,Intermediate,NaN